NODE_ENV=production
PORT=8080
DATABASE_URL="postgresql://username:password@db.url/db?schema=public"
TEST_DATABASE_URL="postgresql://username:password@db.url/db?schema=public"
GAME_CLIENT="https://gameclient.com"